@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 90, 0, 120;
    --background-end-rgb: 5, 0, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 768px) {
  .header {
    box-shadow: none;
    padding-top: 80px;
  }
}

.pot {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.pozo-text {
  font-weight: bold;
  color: #2d17fc;
  text-shadow: 2px 2px 4px rgba(255, 255, 9, 0.7),
    4px 4px 8px rgba(0, 0, 0, 0.5), 6px 6px 12px rgba(255, 255, 23, 0.3);
  background: linear-gradient(45deg, #ffef14, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black; /* Borde negro */
  display: inline-block;
}

.btc-text {
  font-weight: bold;
  color: #2d17fc;
  text-shadow: 2px 2px 4px rgba(255, 255, 9, 0.7),
    4px 4px 8px rgba(0, 0, 0, 0.5), 6px 6px 12px rgba(193, 168, 8, 0.3);
  background: linear-gradient(45deg, #ffef14, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black; /* Borde negro */
  display: inline-block;
}

.uxd-text {
  font-weight: bold;
  color: #57fc17;
  text-shadow: 2px 2px 4px rgba(51, 218, 9, 0.719),
    4px 4px 8px rgba(0, 0, 0, 0.5), 6px 6px 12px rgba(2, 101, 17, 0.3);
  background: linear-gradient(45deg, #57fc17, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black; /* Borde negro */
  display: inline-block;
}

.bt-juga {
  background-color: #28a745; /* Verde llamativo */
  color: #fff;
  font-weight: bold;
  text-transform: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición para el hover */
}

.bt-juga:hover {
  background-color: #218838; /* Verde más oscuro al pasar el ratón */
}
